body{
    background-color: transparent;
    margin: 0;
    padding: 0;
}
table{
    width: 100%;
    border-collapse: collapse;
    background-color: #ffff00;
}
td{
    width: 50%;
    height: 180px;
    text-align: center;
    vertical-align: middle;
    border: 3px solid #0000ff;
}
.rojo{
    height: 40px;
    background-color: red;
    width: 200px;
    margin: 0 auto;
}
.amarillo{
    height: 40px;
    background-color: yellow;
    width: 200px;
    margin: 0 auto;
}
.verde{
    height: 40px;
    background-color: green;
    width: 200px;
    margin: 0 auto;
}
.naranja {
    width: 220px;
    height: 120px;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.azul {
    width: 160px;
    height: 80px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.amarillocuadro {
    width: 100px;
    height: 40px;
    background-color: yellow;
}
.bandera{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
}
.rojoabajo {
    width: 40px;
    height: 120px;
    background-color: red;
}
.amarilloabajo {
    width: 40px;
    height: 120px;
    background-color: yellow;
}
.verdeabajo {
    width: 40px;
    height: 120px;
    background-color: green;
}
.negro {
    width: 150px;
    height: 120px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 50%;
}
.plomo {
    width: 100px;
    height: 80px;
    background-color: rgb(94, 93, 93);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.amarillocirculo {
    width: 50px;
    height: 40px;
    background-color: yellow;
    border-radius: 50%;
}